{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>

    <form class="form" action="{% url 'createListing' %}" method="post">
        {% csrf_token %}
        <table>
            <tbody>
                <tr>
                    <th>Name of listing</th>
                    <th><input class="form-control" name="title"></th>
                </tr>
                <tr>
                    <th>Url for image</th>
                    <th><input class="form-control" name="image"></th>
                </tr>
                <tr>
                    <th>Description</th>
                    <th><textarea class="form-control" name="description"></textarea></th>
                </tr>
                <tr>
                    <th>Price</th>
                    <th><input class="form-control" name="price"></th>
                </tr>
                <tr>
                    <th>Category</th>
                    <th><select class="form-control" name="category">
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select></th>
                </tr>
                <tr>
                    <th>Condition</th>
                    <th><select class="form-control" name="condition">
                        {% for condition in conditions %}
                            <option value="{{ condition.id }}">{{ condition.condition_name }}</option>
                        {% endfor %}
                    </select></th>
                </tr>
                <tr>
                    <th></th>
                    <th><button class="btn btn-primary">Create Listing</button></th>
                </tr>
            </tbody>
        </table>
        <ul>
    </form>
{% endblock %}