{% extends "auctions/layout.html" %}

{% block body %}
    <div class="row align-items-center" style="padding-left: 15px;">
        <h2>Listing: {{ listings.title }}</h2>
        {% if listings.lister == user and listings.status == True %}
            <form action="{% url 'closeAuction' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="item" value="{{ listings.id }}">
                <button class="btn btn-danger" style="margin-left: 5px;">Close the Auction</button>
            </form>
        {% endif %}
    </div>
    {% if user.is_authenticated and listings.status == True %}
        <div style="line-height: 5px;">
            <form action="{% url 'addWatchlisting' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="item" value="{{ listings.id }}">
                <button type="submit" class="btn {{ button_status }} btn-sm" style="line-height: 10px;">Watchlist</button>
            </form>
        </div>
        <br>
    {% endif %}

    <img img src="{{ listings.image }}" style="max-height: 400px; max-width: 480px;">
    <div>
        <p>{{ listings.description }}</p>
        <h3><strong>${{ listings.price | floatformat:2 }}</strong></h3>
        {% if listings.status == True %}
            <p class="text-muted" style="margin-top: 20px; line-height: 1px;"><small>{{ bids }} bid(s) so far.
                {% if user.is_authenticated %}
                    {{ bid_status }}</small>
            </p>
            <form class="form" action="{% url 'listing' listings.title %}" method="post">
                {% csrf_token %}
                <div class="row align-items-center" style="padding: 0 10px 0 15px;">
                    <input type="number" min="{{ listings.price|add:'1' }}" value="{{ listings.price|add:'1' }}" class="form-control col col-2" name="bid" style="margin-right:15px;">
                    <p style="line-height: 5px;"></p>
                    <button class="btn btn-primary" type="submit" style="height: 2.5rem;">Place Bid</button>
                </div>
            </form>
            {% endif %}
        {% endif %}
        <br>
        <h5>Details</h5>
        <ul>
            <li><p>Listed By: {{ listings.lister }}</p></li>
            <li><p>Category: {{ listings.category_n }}</p></li>
            <li><p>Condition: {{ listings.condition_n }}</p></li>
        </ul>
    </div>


    <!--<div>
        <ul>
            <ol><img src="{{ listings.image }}" style="max-height: 300px; max-width: 300px;"></ol>
            <li><a>{{ listings.description }}</a></li>
            <li><a>Last Bid: {{ listings.price }}.</a></li>
            {% if listings.status == True %}
                <li><a>{{ bids }} bid(s) so far. 
                    {% if user.is_authenticated %}
                        {{ bid_status }}
                    {% endif %}</a></li>
            {% endif %}
            {% if listings.status == False %}
                <li><a>Winner: {{ listings.winner }}</a></li>
            {% endif %}
            {% if user.is_authenticated and listings.status == True %}
                <li><form class="form" action="{% url 'listing' listings.title %}" method="post">
                    {% csrf_token %}
                    <input type="number" min="{{ listings.price|add:'1' }}" value="{{ listings.price|add:'1' }}" class="form-control col-2" name="bid">
                    <button class="btn btn-primary">Place Bid</button>
                </form></li>
            {% endif %}
            <li><a>Listed By: {{ listings.lister }}</a></li>
            <li><a>Category: {{ listings.category_n }}</a></li>
            <li><a>Condition: {{ listings.condition_n }}</a></li>
        </ul>
    </div>
    {% if user == listings.lister and listings.status == True %}
        <div>
            <form class="form" action="{% url 'closeAuction' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="item" value="{{ listings.id }}">
                <button type="submit" class="btn btn-primary">Close auction</button>
            </form>
        </div>
    {% endif %}-->
    <br>
    <h4>Comments</h4>
    {% if user.is_authenticated and listings.status == True %}
        <div>
            <form class="form" action="{% url 'addComment' %}" method="post">
                {% csrf_token %}
                <div class="row align-items-center" style="padding: 0 10px 0 15px;">
                    <input type="hidden" name="item" value="{{ listings.id }}">
                    <textarea class="form-control col-4" name="comment" style="margin-right:15px;"></textarea>
                    <button class="btn btn-primary" style="height: 2.5rem;" type="submit">Comment</button>
                </div>
            </form>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-8">
            {% for comment in comments %}
                <div class="comment mt-4 text-justify float-left">
                    <h5>{{ comment.com_user_id }}</h5>
                    <span>  {{ comment.time|date:'Y-m-d h:m' }}</span>
                    <p>{{ comment.comment }}</p>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}